<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Felica Cordova Plugin </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Idm : {{idm}}</p>
    <p>Pmm : {{pmm}}</p>
    <p>Waono : {{waonno}}</p>
    <ion-button
      class="submitBtn"
      (click)="readNFC()"
      seize="large"
      expand="block"
      [disabled]="!enabled"
    >
      Read NFC
    </ion-button>
    <ion-button
      *ngIf="show"
      class="submitBtn"
      (click)="stopNFC()"
      seize="large"
      expand="block"
    >
      Stop NFC
    </ion-button>
  </div>
</ion-content>
